{
	"data": "ENC[AES256_GCM,data:QQDBkNkPvWRxvzIEogn6XeOn2wCRkKYdDtRxReyOmsUPmjg5LnLlUJEA5SvaiQs5wIcaGPKxHQJFb2We7mmrcvUKBbdlbzTs25yMUbdRurYAgeJApm+EIuAMeW4DoQQf6begYNKL7i3HABXHYgOdQF5PSMVouePPakkt3RpEhNdGx+1eUoBibDM3ghEccw+CBAhNUdy9ig6h01/0v1E0wZXU1OCIqzBJrMky213ieSmhgb/UX2ULEqBhRHaDJKVHsPb2bGsZpTP7jHSuTtBFEwjhasK9edgkdmstcem9XRyTjjAUYuCHHeCuPsiMVuWSd0TrjvcNCZKNr5Tt4V5fQHa0W6UNVZjQl8VMoMOBHjY9oDKpT5NEMk38cim/BiCXf3ZFFwZTnhvC8UthUjQSSgUtaoGnPl9SKHYc5bFgGcFsdb0pUaCsVn07i0Xg91jJL2wTctGe0G0OUAgV3xIlzhEZQh9lGkZ6FcGl8Na/EQtly5SQiZSBUNDL5/xDcSxWwIwRnR73BsR+6qko6bl2LZvjZQ==,iv:a9+uG3nTWcKt2KCTnMsbD4HAc2BcHjlKBWsHd6bOTwA=,tag:CbVSdeFKoCrG/fH9yMY8Pg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB0a0dTVSs0cmlDdnMwcTc4\nYUF4WWZLSm9NbmlEcmFndHQ1V0lKUWpUOEQ4ClErVUdUN0dZN3NRcUlOazJGd2J6\nQS9zVVhwSnhwM0ppYzhPZUxjcDZHUGMKLS0tIGVZZDFmdXNLL1Q4eVVzVzVzdEVH\nSVlZYitCL09pUmlaQXhMTmhhNURtQlEKdKoKH6R/17ObfnT98DqtgY1EAzc6AA0Q\nMyGPHXnBMQCM9Hvpqnp822WqiNMuNaBIjI/5aToVcpbqoqSu3CeglA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-06T20:23:31Z",
		"mac": "ENC[AES256_GCM,data:jZkmaNoUifNmnocTI+vwxNNed/ynptT8iEvKGsdoR1BVRWAWcVkrxEwzkMVnC2m0SvpbbyJoo62sE4ztjwt6nmNlKG9n4v6t07dNgbRwx4W6PZmnhw54ay17Y8ggHUyxHG0mAc5cgo4dZt7yofTrNX/PXt5ICSiQT3BhAgMz5Rc=,iv:ffxFvyIwhxVV0v2bHxiLxuYZF9f2e7l341FsL1JigkM=,tag:CqwT/zKP7XLub82pCRfEAg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
