{
	"data": "ENC[AES256_GCM,data:+4HzjWS2nh3zaGBj9DRiQg2ei4gt6xax4I4NmyQofKuIh5Ksit8nuRudN4eI8JrVm3qfIBxDCnDZO0Q8PtA0dBCQQzqVXupcEEW9RujSqVVKMa0vnsidsMQ6DTgoHKYZ/dS0lUcqOvDtatPkDv5zR2uz/rEelxJ2VjNpkEF+JuejlOKHkzEkKR2DSQt5H2xGVYOsut2cQmghdYEEXAvhgAfzy8LUFAJdERAlbUaC2Fq0wY6w0sO5zI2e3YFWhN7vO5skAzJIpQ0fKlw5TUfqbTOY/rri9/0Juj3r66oBI+TryaEYJoDZbGCxYnzYrrqrzdCzrHndLjzWy3Cv+QCA/GENbJoeVM6BqO9ho0RpZdlaRkRecV4Sj/2O5ag+acB5wqcV23HkQJwVg2iXDNw1UZcj0EobAhE8pvozAEWmHSU4waNOf4NczkVBID4MzxDgH5coQ3wGT8qH+fPeMAo2RWYElGn5hhrxaa4RS5m1av2+UzmjfnldfKYpx7EPiP+XFJpozqw22zOZPZTE73OEVazbAQ==,iv:1XkgXesCmyI0TXSnYGAqcgdBW42cv5hBJBOM27csViU=,tag:J/hV6mlhhyW/ieARDbFfvg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBGVzVBQWs0TWgwS05FTEEw\nM2NaZWhYQW1STk9YOGVFanJkZWdBMXZrZXpJCngrWnhjeXAra3hZc3BkbWlWNFlm\nOFdDeXp1YUxzclo2ZFd4VHFjcnFuL28KLS0tIHIxT1U2UEJaT0JnRDNkbXFTTGts\nZHFvYWxpaE5Dakdoc045dmNTeUl0c2MKcJyv80KqQ2DsZjdiWo39bLwK4DUfm/p9\nfrv0UppPn3TQccymmQz9GFP9GzVuWvqz3kOFHNXz4VxgTxec1IRinQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-05T15:17:36Z",
		"mac": "ENC[AES256_GCM,data:gDvDgh1P4oC2OU3jrIv2aOzX/H+J84N238RauNiKPV3DAWIYgjQuUAVIfbb4DRKf0nCIROjjxHUcTcQADBqwJV9p/MjsnLiqxjS82OJaK1IeU5gutV96RJ8z52PMR/qBByGeCI4VQ/532QJ6OhcgDLlicNP4C/fqCminED8bVY4=,iv:8gNABXV486i58YlKwzrxBq7vWVai9TLcDpCJwh5oOSo=,tag:1y5zo2/ojBkuO5U1Rmq6Bg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
