{
	"data": "ENC[AES256_GCM,data:9ejbmmoVg8Di3F041M+avO58kit2sUxeDw0Sm55Tzr+HOi3LL+doqeABbyVR563VMqWBgpOVEJIwVjP0sIp6XuBzhj9v2BG5ayX/ys7VsdVft0NMQXAACkEOnCjbF3fq8w2C9J8cFbZ27TAroa6uUlI9Mf6GE2bHGHMgnCt6n54ukLOWj+FAPEOwOvHzw0lRdjKxXPQWl+XDWm4Qrw7fEZ9SeArLC9rD7al13Z1er6EYTencSgHazJ45At2hQ7MwCbFN+AMFgxxZrc1XcqXz5O+ckHn+r64fXZsWi7btKzP6F2X1l7OIzQ+uPV1mgQL4mJypcJde+u4rnntHBADEKoPU6N9lUZL/H/KyeOZaXL36Hl1ZIVhud74ypcWLba43CCKUlMv6FhgXA2j7gtS2gS+kOUc4CBRCfsBf+jbHINF7yZM15KXV8GYObTya1CjQ4u1KhME6cKFedJjcKBL5BuWBVDVi5Glxacmrt9Ric5hfooy6wbv1K2iBo27LE5y/9aQzeM/ZmB9zoe86ZVpQQIAPLPtAtHAV,iv:XWkTFSqIRteo3+iJ+RxzfrMqd2SxYrwhsgrU8l3rAZ8=,tag:nN29KUKkaAVHU+1rtnC8gA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqYVg1NzFXOGUzSHpsSy9M\nZjg4cTY2YnJmNDlSdUdoOXJDUk9KLzNBUmlJCkZZc2RPWmxBNUlWUGc0QzRqVnN0\nRlNNUlNKQ0J4RVQrNFlMTHFmYytPWTAKLS0tIEk0amtkcmE3VEdVcFZzQXdRMmx3\nTytjd3dEZXM1UVkwV0hmOWxJTGo2NncKp6MGoCvbJpCzj4nXvEJJAA87hTrnql+I\nPBofOKx1XhP7X6cny6w+nOw4xtGgraYkVjmhAGB74z0BeqzxKxtdKA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-04-12T03:42:55Z",
		"mac": "ENC[AES256_GCM,data:EereyHeD3i7mLZ1uH+0cqjNZny+0KPDk4+/hZ0novlhz1toqtE47e6+xzBziMVoktwVnt6qYWp1YyeMRSi8Tug8WAyrhHYrwhpLMD2FFEJHRZQ4u62erCjZZXSu1BQl63Yh7dfYML9boL1lMph4KihaI4MURH8m+fXxc9W8n1Z0=,iv:uZth59Oc3eE0LIfwuX4a68zRPJv3usdiXkQzyZgDQZg=,tag:cb8wOoCmNEKMzJypwtp9AQ==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
